@model Jester.Models.NewsItem

@{
    ViewData["Title"] = "Create";
    ViewData["CurrentNavigationPage"] = "Create";
}

<div class="text-center p-8 my-4">
    <h1 class="text-8xl">Add your own</h1>
</div>
<div class="flex items-center justify-center">
        <form asp-action="Create" class="flex flex-col gap-3 min-w-[50%]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="basis-1/2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="basis-1/2">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="basis-1/2">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="basis-1/2">
                <label asp-for="DatePublished" class="control-label"></label>
                <input asp-for="DatePublished" class="form-control" />
                <span asp-validation-for="DatePublished" class="text-danger"></span>
            </div>
            <div class="basis-1/2">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="basis-1/2 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSponsored" /> @Html.DisplayNameFor(model => model.IsSponsored)
                </label>
            </div>
            <div class="basis-1/2">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="basis-1/2">
                <label asp-for="Story" class="control-label"></label>
                <textarea asp-for="Story" class="form-control"></textarea>
                <span asp-validation-for="Story" class="text-danger"></span>
            </div>
            <div class="basis-1/2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>
