@model Jester.Models.NewsItem

@{
    ViewData["Title"] = "Edit";
    ViewData["CurrentNavigationPage"] = "Edit";

}

<div class="text-center p-8 my-4">
    <h1 class="text-4xl md:text-5xl capitalize">Edit</h1>
</div>
<div class="flex p-4 m-4">
    <form asp-action="Edit" class="w-full">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />    
        
        <div class="border border-solid my-4 p-4 shadow rounded flex flex-wrap gap-2">
            <div class="flex-grow">
                <label asp-for="Title"></label>
                <input asp-for="Title"/>
                <span asp-validation-for="Title"></span>
            </div>

            <div class="flex-grow">
                <label asp-for="Category"></label>
                <input asp-for="Category" placeholder="Travel" />
                <span asp-validation-for="Category"></span>
            </div>
            <div class="flex-grow">
                <label asp-for="DatePublished"></label>
                <input asp-for="DatePublished" />
                <span asp-validation-for="DatePublished"></span>
            </div>
            @*<div class="flex-grow">
                <label asp-for="Author"></label>
                <input asp-for="Author" />
                <span asp-validation-for="Author"></span>
            </div>*@
            
            <div class="flex-grow">
                <label asp-for="Tags"></label>
                <input asp-for="Tags" value="@String.Join(",",Model.Tags)" placeholder="Cruise, Ocean, Journey"/>
                <span asp-validation-for="Tags"></span>
            </div>
            <div class="flex flex-col flex-grow flex-wrap">
                <label asp-for="IsSponsored">
                    Sponsored
                </label>
                 <input asp-for="IsSponsored" type="checkbox" class="w-6 min-h-6 m-2"/> 
            </div>
        </div>
        <div class="border border-solid my-4 p-4 shadow rounded">
        <div>
            <label asp-for="Content">Description</label>
            <input asp-for="Content" placeholder="Snippet / description ..."/>
            <span asp-validation-for="Content"></span>
        </div>
        </div>
        <div class="border border-solid my-4 p-4 shadow rounded">
        <div>
            <label asp-for="Story"></label>
            <textarea id="story" asp-for="Story" rows="15" cols="15"></textarea>
            <span asp-validation-for="Story"></span>
        </div>
        </div>
        <div>
            <input type="submit" value="Save" class="px-4 py-2 font-semibold text-sm bg-[#0d6efd] text-white rounded shadow-sm" />
        </div>
    </form>
</div>