@model NewsListViewModel;

@{
    ViewData["Title"] = "All news";
    ViewData["CurrentNavigationPage"] = "All";
}

<div class="text-center p-8 my-4">
    <h1 class="text-6xl md:text-8xl">Search for ...</h1>
    <p class="text-3xl md:text-4xl">what keeps you on the edge</p>

</div>

@await Html.PartialAsync("_NewsListWithSearchPagination", Model)
