/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}


// a {
//     color: #0077cc;
// }


label {
    font-weight: bold;
}

input, textarea {
    background: #13283614;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
}

input::placeholder {
}

.field-validation-error, .validation-summary-error {
    color: red;
}